In [ ]:
print('hello')

hello

print hello

In [ ]:
message = "I WANT TO GO ON ADVENTURES : BY OSAKA"
print(message)

I WANT TO GO ON ADVENTURES : BY OSAKA

In [ ]:
a=12
b=13
c=a+b
print(c)

25

In [ ]:
a=5j
b="magadh"
c=1256
d=67.89
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'complex'>
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
birthday=input("enter the birth year")
age=2024-int(birthday)
print(age)

enter the birth year1999
25

In [ ]:
a=10
b=1.2
c=a+b
print(c)

11.2

to create a biodata of yourself
including age name id and university address

In [ ]:
name=input("enter your name")
age=input("Enter your age")
uniaddress=input("Enter university address")
id=input("enter id")
print("name :", name)
print("age :", age)
print("university address :", uniaddress)
print("id :", id)

enter your name Vaibhav Panwar
Enter your age 17
Enter university address Bidholi near police station ,Dehradun
enter id 500127057
name :  Vaibhav Panwar
age :  17
uniaddress :  Bidholi near police station ,Dehradun
id :  500127057

WRITE A PROGRAM TO CARRY VARIOUS OPERATIONS ON STRING.